h1 {
    text-align: center;
    font-size: xx-large;
    font-family:Arial, Helvetica, sans-serif;
}

.event-aanmaken {
    max-width: 500px;
    border: solid rgb(0, 0, 0) 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

input, textarea {
    text-transform:capitalize;
    grid-template-rows: auto;
    max-lines: 8;
    height: 30px;
    resize: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-large;
    display: block;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    outline: none;
    color: black;
    background-color: rgb(255, 255, 255);
}

input:focus, textarea:focus {
    outline: none;
    background-color: rgb(255, 255, 255);
    text-transform: capitalize;
}
input::placeholder, textarea::placeholder {
color: rgb(54, 54, 54);
}

#datum, #tijd {
    background-color: black;
    color: white;
    text-transform: none;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#send {
    font-size: x-large;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    background-color: rgba(255, 0, 0, 0);
    color: black;
    text-decoration: underline;
}